{% extends "base_admin.html.twig" %}
{% trans_default_domain 'admin' %}

{% block body %}

    <div class="container">
        <div class="admin-actions">
            <a href="{{ path(app.request.get('_route')|replace({'index' : 'new'})) }}">
                <button class="btn-add">{{ 'action.add'|trans }}</button>
            </a>
        </div>

        <ul class="list">
            {% for e in pagination %}
                <li>
                    {{ e.translate.title }}
                    {{ type }}
                    <a href="{{ path(app.request.get('_route')|replace({'index' : 'edit'}), {'id' : e.id}) }}"><button>{{ 'action.edit'|trans }}</button></a>
                    <a href="{{ path(app.request.get('_route')|replace({'index' : 'delete'}), {'id' : e.id}) }}"><button>{{ 'action.delete'|trans }}</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}