<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <nav>
                <a href="{{ path('app_homepage') }}"><div class="logo"></div></a>
                <ul>
                    <li>A propos</li>
                    <li>Réalisations</li>
                    <li>Comissions</li>
                    <li><a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a></li>
                    <li><a href="{{ path('app_login') }}" class="btn btn-primary">Se Connecter</a></li>
                </ul>
            </nav>
        </header>
    {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
